#skills {
    text-align: center;
    background-color: #F98DCE;
    height: 740px;
    border-bottom: 10px solid #9D8CCE;
}

#skills ul {
    display: inline-block;
    text-align:left;
    font-family: "Press Start 2p", sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: white;
    padding-top: 10px;
    margin-right: 50px;
    margin-left: 50px;
}

#skills li {
    margin-bottom: 38px;
}

#skills li::after {
    background-color: black;
}
