.title {
    display: inline-block;
    background-color: #3A4042;
    width: 627px;
    height: 184px;
    font-family: "Press Start 2p", sans-serif;
    font-weight: 400;
    text-align: center;
    text-shadow: 4px 4px black;
    margin-top: 116px;
    margin-left: 91px;
    box-shadow: 10px 10px black;
}
.title h1 {
    font-size: 40px;
    color: #F98DCE;
    padding-top: 43px;
    padding-bottom: 36px;
}
.title h2 {
    font-size: 26px;
    color: #FFFFFF;
}
